.jumbotron {
    background-color: white;
    height: 600px;
    width: 100%;

}
h1 {
    font-family: Lucida Calligraphy;
}
li {
    list-style-type: none;
}
.images {
    background-position:center;
    background-size: cover;
    width: 200px;
    height: 250px;
    margin-top: 20px;
}
#DonerHam {
    background-image: url('../images/donerham.jfif');
}
#LehaVer {
    background-image: url('../images/lehaver.jfif');
}
#donertext {
    position: absolute;
    left: 20%;

    width: 70%;
    height: 250px;
    padding-left: 10px;
}

#lehatext {
    position: absolute;
    left: 20%;
    width: 70%;
    height: 250px;
    padding-left: 10px;
}