/*Create form for registration page*/
.container__form {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background-color: rgba(221, 221, 221, 0.9);
    width: 500px;
}

.container-reg__items label, small {
    font-family: 'Comfortaa', cursive;
}

hr {
    margin-top:80px;
}

.form-check-input div {
    margin-left: 40px;
}

.error__info {
    font-family: 'Pacifico', cursive;
    font-size: 18px;
}
/*Create animation for our plate*/
@keyframes PopUpForm{
    0% {
        transform:rotate(30deg) translateX(-100%);
    }
    50% {
        transform: rotate(-10deg) translateX(10%);
    }
    100% {
        transform: rotate(0deg) translateX(0%);
    }
}

/*Create adaptive for our registration page*/
@media screen and (max-width: 500px) {
    .container__form {
        width: 100%;
    }
}

@media screen and (min-width: 500px) {
    .container__form {
        animation-name: PopUpForm;
        animation-duration: 5s;
    }
}

