{% extends "app/Layout/layout.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/static/app/style/StyleProjectInformation.css">
{% endblock %}

{% block content %}
<div class="background__img"></div>
<div class="info">
    <p>В этом курсовом проекте, мы решили создать сайт в стиле системы поиска работы онлайн.</p>
    <p>К примеру, таких сайтов: headhunter, jooble.Для этого проекта мы использовали фреймворк - Django.</p>
    <p>Также использовались: a) языки разметки (HTML, CSS), б) языки программирования (JS, Python),в) фреймворк для JS (jQuery) и набор инструментов (Bootstrap).</p>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/app/scripts/ScriptForParallax.js"></script>
{% endblock %}