{% extends "app/Layout/layout.html"%}
{% load static%}
{% block style %}
<link href="{% static 'app/style/StyleForParallax.css'%}" rel="stylesheet" type="text/css">
<link href="{% static 'app/style/StyleForRegistration.css' %}" rel="stylesheet" type="text/css">
{% endblock style %}

{% block content %}
<div class="background__img"></div>

<div class="container-fluid d-flex justify-content-center container-plate">
    <form method="post">
        {% csrf_token %}
        <div class="container__form pb-1">
            <div class="container container-reg__form">
                {% for field in regForm %}
                <div class="form-group container-reg__items">
                    {{field.label_tag}}
                    {{field}}
                    <small class="form-text">{{field.help_text}}</small>
                </div>
                {% endfor %}
                <hr/>
                {% if errors %}
                <div class="errors__container container-fluid d-flex justify-content-center">
                    <p class="error__info">{{errors}}</p>
                </div>
                {% endif %}
                <div class="container-fluid d-flex justify-content-end mt-2 mb-2">
                    <button type="submit" class="btn btn-light">Register</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'app/scripts/ScriptForParallax.js' %}"></script>
{% endblock scripts %}