{% extends "app/Layout/layout.html"%}
{% load static%}
{% block style %}
<link href="{% static 'app/style/StyleForParallax.css'%}" rel="stylesheet" type="text/css">
<link href="{% static 'app/style/StyleForRegistration.css' %}" rel="stylesheet" type="text/css">
{% endblock style %}

{% block content %}
<div class="background__img"></div>

<div class="container-fluid d-flex justify-content-center container-plate">
    <form method="post">
        {% csrf_token %}
        <div class="container__form pb-1">
            <div class="container container-reg__form">
                {% if type_registration == 'user'%}
                {% for field in regUserForm %}
                <div class="form-group container-reg__items">
                    {{field.label_tag}}
                    {{field}}
                    <small class="form-text">{{field.help_text}}</small>
                </div>
                {% endfor %}
                <a href="{% url 'registration' type_registration='company' %}" class="text-dark">Do you want to register a company?</a>
                {% elif type_registration == 'company' %}
                {% for field in regCompForm %}
                <div class="form-group container-reg__items">
                    {{field.label_tag}}
                    {{field}}
                    <small class="form-text">{{field.help_text}}</small>
                </div>
                {% endfor %}
                <a href="{% url 'registration' type_registration='user' %}" class="text-dark">Do you want to register like a user?</a>
                {% endif %}
                <div class="container-fluid d-flex justify-content-end mt-2 mb-2">
                    <button type="submit" class="btn btn-light">Register</button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'app/scripts/ScriptForParallax.js' %}"></script>
{% endblock scripts %}