{% extends "app/Layout/layout.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/static/app/style/StyleTeamInformation.css">
{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="images" id="LehaVer">
        <div id="lehatext">
            <h1>Leha Verstapen</h1>
            <p>Addres: Goluabaya Ustrica</p>
            <p>Email: nenaebnaden'gi@com</p>
            <p>Telephone: 8-800-353-55-55</p>
        </div>
    </div>
    <div class="images" id="DonerHam">
        <div id="donertext">
            <h1>Doner Hemelton</h1>
            <p>Addres: Psihushka d2</p>
            <p>Email: nenaebnazhin'@com</p>
            <p>Telephone: 8-800-555-35-35</p>
        </div>
    </div>
</div>
{% endblock %}